#nav-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #pembungkus-nav {
    padding-bottom: 65px;
  }

  #nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    font-weight: bolder;
    display: block;
    padding: 8px 10px;
  }

  #nav-mobile .container-fluid {
    background: #fff;
  }

  #nav-mobile .container-fluid .navbar-brand {
    color: #9294FF !important;
  }

}